.form {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 320px;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  width: 50%;
}

.inputDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputs {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  height: 30px;
  width: 200px;

  &:focus {
    outline: none;
  }
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  align-self: center;
  background: linear-gradient(to bottom, rgb(87, 0, 250), rgb(138, 75, 255));
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 30px;
  width: 100px;

  &:active {
    &:active {
      background: linear-gradient(to bottom, rgb(128, 59, 255), rgb(169, 123, 255));
    }
  }
}

.loading {
  position: absolute;
  top: 2px;
  height: 20px;
}

.message {
  position: absolute;
  top: 2px;
}