.form {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  width: 50%;
}

.title {
  font-size: 18px;
}

.inputs {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  height: 30px;
  padding: 5px;
  width: 220px;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.buttonDiv {
  display: flex;
  gap: 10px;
}

.buttons {
  background: linear-gradient(to bottom, rgb(87, 0, 250), rgb(138, 75, 255));
  color: white;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  width: 150px;

  &:active {
    &:active {
      background: linear-gradient(to bottom, rgb(128, 59, 255), rgb(169, 123, 255));
    }
  }
}

.message {
  font-size: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
}

.loading {
  position: absolute;
  top: 2px;
}

@media (max-width: 600px) {
  .form {
    height: 300px;
    width: 90%;
  }

  .buttons {
    font-size: 19px;
    height: 30px;
    width: 100px;
  }
}