.form {
  align-items: center;
  background-color: rgb(214, 214, 214);
  border: 0.5px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  position: relative;
  height: 80%;
  width: 400px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.errorMsg {
  background-color: rgba(255, 0, 0, 0.897);
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px 0 5px;
  position: fixed;
  text-align: center;
  top: 10px;
}

.successMsg {
  background-color: rgba(0, 128, 0, 0.925);
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px 0 5px;
  position: fixed;
  text-align: center;
  top: 10px;
}

.inputs {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  height: 50px;
  padding: 5px;
  width: 300px;
}

.buttonsDiv {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.buttons {
  background-color: rgb(194, 37, 37);
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  width: 40%;

  &:active {
    background-color: rgb(150, 31, 31);
  }
}

@media (max-width: 600px) {
  .form {
    height: 70%;
    width: 95%;
  }

  .inputs {
    height: 35px;
  }

}