.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  height: 80%;
  width: 400px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.errorMsg {
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px 0 5px;
  position: absolute;
  text-align: center;
  top: 10px;
}

.successMsg {
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px 0 5px;
  position: absolute;
  text-align: center;
  top: 10px;
}

.inputs {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  /* border-radius: 5px; */
  font-size: 18px;
  height: 50px;
  padding: 5px;
  width: 300px;

  &::placeholder {
    color: black;
  }
}

.buttonsDiv {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.buttons {
  background: linear-gradient(to bottom, rgb(87, 0, 250), rgb(138, 75, 255));
  color: white;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  height: 35px;
  width: 150px;

  &:active {
    background: linear-gradient(to bottom, rgb(128, 59, 255), rgb(169, 123, 255));
  }

  &:disabled {
    background: linear-gradient(to bottom, rgb(128, 59, 255), rgb(169, 123, 255));
  }
}

.loading {
  position: absolute;
  top: 10px
}

@media (max-width: 600px) {
  .form {
    height: 70%;
    width: 95%;
  }

  .inputs {
    height: 25px;
  }

  .buttons {
    width: 150px;
  }

}