.taskCard {
  align-items: center;
  border: 1px solid rgba(70, 70, 70, 0.596);
  border-radius: 5px;
  display: flex;
  gap: 10px;
  padding: 0 5px 0 5px;
  width: 80%;
}

.textDiv {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 90%;
}

.description {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}