.taskCard {
  align-items: center;
  background-color: rgb(255, 214, 152);
  border: 2px solid rgba(70, 70, 70, 0.596);
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  gap: 10px;
  padding: 0 5px 0 5px;
  width: 80%;
}

.textDiv {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  flex-grow: 1;
  gap: 3px;
  max-width: 80%;
}

.description {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.checkBox {
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.deletBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.deletIcon {
  color: red;
  font-size: 14px;
}

.popupPage {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.486);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.popup {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 300px;
  width: 300px;

}

.span {
  font-weight: 700;
}

.text {
  font-size: 25px;
  text-align: center;
}

.popupButtonsDiv {
  display: flex;
  gap: 10px;
  width: 80%;
}

.buttons {
  background: linear-gradient(to bottom, rgb(87, 0, 250), rgb(138, 75, 255));
  border: 0.5px solid grey;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  height: 25px;
  width: 50%;

  &:active {
    background: linear-gradient(to bottom, rgb(87, 0, 250, 0.6), rgb(138, 75, 255, 0.6));
  }
}

@media (max-width: 600px) {
  .taskCard {
    width: 90%;
  }
}