.loginPage {
  /* align-items: center; */
  background-color: rgb(82, 82, 82);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .loginPage {
    align-items: center;
  }
}