.loginPage {
  background: linear-gradient(to bottom, #ff9a5f, #7371eb);
  background-position: 0% 40%;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 100%;
}

@media (max-width: 600px) {
  .loginPage {
    align-items: center;
  }
}