.homePage {
  align-items: center;
  background-color: rgb(235, 235, 235);
  box-shadow: 2px 2px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 25px;
}

.main {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 90%;
  position: relative;
  width: 90%;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
}

.logoutBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}